/* form 태그와 section 태그 따로 따로 */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 500px;
}

main {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
}

input {
    margin-top: 15px;
    height: 10%;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}

input:focus {
    outline: none;
}

.containerBtn {
    display: flex;
    flex-direction: column;
}

#keypad {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#keypad > div {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#keypad button {
    flex-basis: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: none;
}

#keypad button:hover {
    border: 1px solid green;
    border-radius: 10px;
}

#addBtn {
    margin: 5px 0;
}

#addBtn, #removeBtn {
    background-color: white;
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
    padding: 3px 0;
}

#addBtn:hover, #removeBtn:hover {
    color: white;
    background-color: green;
}

span {
    cursor: pointer;
}

.border {
    display: flex;
}

main > section {
    width: 50%;
    margin-top: 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    border-left: 1px solid gray;
}

.border {
    margin-top: 3px;
}

.border span {
    font-size: 15px;
    font-weight: bold;
}