* {
    /* color: white; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    height: 100%;
    /* height: 500px; */

    /* border: 1px solid white; */
}

.container {
    height: 100%;
    /* 전체 높이 */
    background-color: #e8f1fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    height: 65%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left {
    flex-basis: 40%;
    /* height: 100%; */
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 40px;
}

form div {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 5%;
    margin: 0;
}

.welcome {
    font-size: 30px;
    font-weight: bold;
}

.right {

    height: 95%;
    width: 50%;
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
   
}

.right img {
    display: flex;
    width: 100%;
    
    border-radius: 10px;
    /* margin-right: 10px; */
}

input {
    border-radius: 8px;
    width: 85%;
}

.forgot {
    display: flex;
    flex-direction: row-reverse;
}

.forgot a {
    font-size: 15px;
    margin-right: 60px;
    /* border-right: 10px; */
}

.btn button {
    width: 85%;
    border-radius: 10px;
}

.signIn {
    width: 85%;
    background-color: #e8f1fc;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;

    justify-content: center;
}

.signIn {
    color: #a8adb3;
}

.signIn a {
    margin-top: 5px;
}

a {
    text-decoration: none;
}

.sign-btn {
    margin-left: 5px;
}

.account {
    font-size: 15px;
}