/*
* {} : 문서 전체 
div {} : 모든 div
# {} : 선택된 id
. {} : 선택된 class

div[name="name"] {} : 태그 안 속성의 속성명으로된 거


*/

#container1 {
    width: 300px;
    height: 300px;
    position: relative;
}

.box1 {
    width: 50px;
    height: 50px;
    background-color: yellow;

    position: absolute;

    top: 100px;
    left: 200px;
}

.text {
    position: absolute;

    top: 50px;
    left: 50px;
}

