* {
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 1px solid white; */
}

.container {
    height: 100%;
    /* 전체 높이 */
    background-color: black;
}

#logo {
    width: 50px;
}

nav {
    height: 60px;
    display: flex;

    /* border-bottom: 1px solid red; */
    /* 높이 알기 위해 줄 쳐놓음 */
}

nav > ul {
    display: flex;
    list-style: none;
    flex-basis: 75%;
}

nav > ul > li {
    text-align: center;
    line-height: 60px;
    margin: 0 15px;
}

.icon-box {
    display: flex;
    flex-basis: 20%;
    justify-content: space-around;
    align-items: center;

}

nav > a:first-child {
    flex-basis: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(/images/netflixbanner2.jpeg);
    width: 100vw;
    height: 600px;
    background-repeat: no-repeat;
    /* background-img 사용하면 위에 글씨 쓰기 편함 */

    display: flex;
    align-items: flex-end;
}

.title-box {
    /* border: 1px solid red; */
    height: 400px;
    display: flex;
    flex-direction: column;

    padding: 50px;
}

.title-box > h1 {
    font-size: 50px;
}

.title-box > p {
    font-size: 20px;
    margin-top: 10px;
}

.title-box-btn {
    margin-top: 30px;
}

.title-box-btn > button {
    color: black;
    padding: 10px 50px;
    /* 상하 10px 좌우 50px */
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.title-box-btn > button:last-child {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.contents-box {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
}

.contents-box img {
    width: 200px;
}

.contents-box p {
    font-size: 150px;
    font-weight: bold;
    -webkit-text-stroke: 5px white;
    /* 글자 바깥 흰색 */
    color: black;

    position: absolute;
    bottom: 0;
    left: -50px;
}

.contents-box > section {
    display: flex;
}

.contents-box > h2 {
    padding: 20px 50px;
}

.poster-box {
    position: relative;
    /* 기준점 */
    /* border: 1px solid blue; */

    margin: 0 50px;
}

.poster-box-2 {
    padding: 0 50px;

}

.poster-box-2 > div {
    margin-right: 50px;
}